{% extends "base.html" %}
{% block content %}
<h2>Lista de Consultas</h2>

<table>
    <tr>
        <th>Fecha</th>
        <th>Diagnóstico</th>
        <th>Tratamiento</th>
        <th>Médico</th>
        <th>Paciente</th>
    </tr>
    {% for c in consultas %}
    <tr>
        <td>{{ c.fecha }}</td>
        <td>{{ c.diagnostico }}</td>
        <td>{{ c.tratamiento }}</td>
        <td>{{ c.medico.nombre }}</td>
        <td>{{ c.paciente.nombre }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Agregar Nueva Consulta</h3>
<form method="POST" action="/consulta/nueva">
    <label>Fecha:</label><br>
    <input type="date" name="fecha" required><br>
    <label>Diagnóstico:</label><br>
    <input type="text" name="diagnostico" required><br>
    <label>Tratamiento:</label><br>
    <input type="text" name="tratamiento" required><br>

    <label>Médico:</label><br>
    <select name="id_medico" required>
        {% for m in medicos %}
            <option value="{{ m.id_medico }}">{{ m.nombre }} - {{ m.especialidad }}</option>
        {% endfor %}
    </select><br>

    <label>Paciente:</label><br>
    <select name="id_paciente" required>
        {% for p in pacientes %}
            <option value="{{ p.id_paciente }}">{{ p.nombre }} ({{ p.edad }} años)</option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Agregar Consulta</button>
</form>
{% endblock %}
