{% extends "base.html" %}
{% block content %}
<h2>Editar Médico</h2>

<form method="POST">
    <label>Nombre:</label><br>
    <input type="text" name="nombre" value="{{ medico.nombre }}" required><br>

    <label>Especialidad:</label><br>
    <input type="text" name="especialidad" value="{{ medico.especialidad }}" required><br>

    <label>Teléfono:</label><br>
    <input type="text" name="telefono" value="{{ medico.telefono }}" required><br>

    <label>Correo:</label><br>
    <input type="email" name="correo" value="{{ medico.correo }}" required><br><br>

    <button type="submit">Guardar Cambios</button>
</form>

<a href="{{ url_for('medico.listar_medicos') }}">Volver a la lista</a>
{% endblock %}
