{% extends "base.html" %}
{% block content %}
<h2>Editar Consulta</h2>

<form method="POST">
    <label>Fecha:</label><br>
    <input type="date" name="fecha" value="{{ consulta.fecha }}" required><br>

    <label>Diagnóstico:</label><br>
    <input type="text" name="diagnostico" value="{{ consulta.diagnostico }}" required><br>

    <label>Tratamiento:</label><br>
    <input type="text" name="tratamiento" value="{{ consulta.tratamiento }}" required><br>

    <label>Médico:</label><br>
    <select name="id_medico" required>
        {% for m in medicos %}
            <option value="{{ m.id_medico }}" {% if consulta.id_medico == m.id_medico %}selected{% endif %}>
                {{ m.nombre }} - {{ m.especialidad }}
            </option>
        {% endfor %}
    </select><br>

    <label>Paciente:</label><br>
    <select name="id_paciente" required>
        {% for p in pacientes %}
            <option value="{{ p.id_paciente }}" {% if consulta.id_paciente == p.id_paciente %}selected{% endif %}>
                {{ p.nombre }} ({{ p.edad }} años)
            </option>
        {% endfor %}
    </select><br><br>

    <button type="submit">Guardar Cambios</button>
</form>

<a href="{{ url_for('consulta.listar_consultas') }}">Volver</a>
{% endblock %}
