{% extends "base.html" %}
{% block content %}
<h2>Lista de Médicos</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Especialidad</th>
        <th>Teléfono</th>
        <th>Correo</th>
    </tr>
    {% for m in medicos %}
    <tr>
        <td>{{ m.nombre }}</td>
        <td>{{ m.especialidad }}</td>
        <td>{{ m.telefono }}</td>
        <td>{{ m.correo }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Agregar Nuevo Médico</h3>
<form method="POST" action="/medico/nuevo">
    <label>Nombre:</label><br>
    <input type="text" name="nombre"><br>
    <label>Especialidad:</label><br>
    <input type="text" name="especialidad"><br>
    <label>Teléfono:</label><br>
    <input type="text" name="telefono"><br>
    <label>Correo:</label><br>
    <input type="email" name="correo"><br><br>
    <button type="submit">Agregar Médico</button>
</form>
{% endblock %}
